body{
    margin: 15px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalho1{
    display: flex;
    justify-content: space-between;
}

.cabecalho1 .figurecabecalho1 img{
    width: 50px;
    height 25px;
}